.members-cards {
  height: 400px;
  background-color: #e9ecef;
  font-family: "Ubuntu", sans-serif;
}

/* .bio-name {
  color: white;
  background-color: #343a40;
}

.bio-title {
  color: white;
  background-color: #b3002d;
} */
