body {
  font-family: "Lato", sans-serif;
}

.biog {
  background-color: #e3e3e3;
  font-size: x-large;
}

.bold {
  font-weight: bold;
}

.topMargin {
  margin-top: 5%;
}

#header {
  text-align: center;
}
