.aboutCon body {
  font-family: "Lato", sans-serif;
}

.aboutCon .biog {
  font-size: x-large;
}

.aboutCon .bold {
  font-weight: bold;
}

.aboutCon .topMargin {
  margin-top: 5%;
}

.aboutCon .header {
  text-align: center;
  font-weight: bold thick;
  text-shadow: 2px 2px darkgray;
}

.aboutCon {
  background-color: #e3e3e3;
}
