#gears-main {
  /* padding-top: 7rem; */
}

.gears-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.gears-jumbo h2 {
  text-align: center;
}

.gears-images-div {
  display: flex;
  justify-content: center;
}

.gears-images {
  border-radius: 50%;
  width: 50%;
  height: 50%;
  /* height: 359px;
  width: 359; */
}

/* .gears-info {
              display: none;
            } */

.gears-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.gears-benefits-div {
  text-align: left;
}
