/* #gtrLeft {
  width: 100%;
  height: 65px;
  display: block;
}  */

.borderLR {
  border-left: 5px black solid;
  border-right: 5px black solid;
}

/* #gtrLeftTwo {
  /* width: 100%;
  height: 65px;
  display: block;
  border: 1px black solid;
} */
