#shifters-main {
  /* padding-top: 7rem; */
}

.shifters-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.shifters-jumbo h2 {
  text-align: center;
}

.shifters-images-div {
  display: flex;
  justify-content: center;
}

.shifters-images {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

/* .shifters-info {
              display: none;
            } */

.shifters-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.shifters-benefits-div {
  text-align: left;
}
