#shifters-main {
  padding: 0;
  margin: 0 auto;
  /* padding-top: 7rem; */
}

.shifters-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.shifters-jumbo {
  padding-top: 0;
  height: 550px;
}

@media (max-height: 768px) {
  .shifters-jumbo {
    height: 600px;
  }
}

.shifters-jumbo h2 {
  text-align: center;
}

.shifters-images-div {
  display: flex;
  justify-content: center;
}

.shifters-images {
  height: 100%;
  width: 100%;
}

/* .shifters-info {
              display: none;
            } */

.shifters-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.shifters-benefits-div {
  text-align: left;
}
