.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .flex {
  display: flex;
  flex-wrap: wrap;
} */

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}
body {
  background-color: darkgrey;
}

#colLeft {
  background-color: darkblue;
}

#colMid {
  background-image: url("https://vortechsuperchargers.files.wordpress.com/2011/01/img_0444.jpg");
  /* Full height

  Scale the image nicely  */
  background-repeat: no-repeat;
  background-size: cover;
}

#colRight {
  background-color: darkred;
}
