.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .flex {
  display: flex;
  flex-wrap: wrap;
} */

/* .flex-row {
  display: flex;
  flex-wrap: wrap;
}
.flex-row > [class*="col-"] {
  display: flex;
  flex-direction: column;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
} */

#masterCon {
  display: inline-block;
}
#topPortion {
  background-color: #e3e3e3;
}

#colLeft {
  background-color: darkblue;
}

#topContainer {
  background-image: url("https://www.wallpapersbrowse.com/images/vr/vrsfxzg.jpg");
  /* Full height
  
   /* Full height */
  height: 100%;
  width: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

/* #colMid {
  align-items: stretch;
} */

#aboutCon {
  position: relative;
}

#colRight {
  background-color: darkred;
}

#foundersCon {
  background-color: #e3e3e3;
  /* border-top: black medium solid; */
}

/* #histCon {
  border-top: solid black medium;
} */

#staffCon {
  background-color: #c0dfd9;
  /* border-top: black medium solid; */
}
