#fuel-main {
  /* padding-top: 7rem; */
}

.fuel-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.fuel-jumbo h2 {
  text-align: center;
}

.fuel-images-div {
  display: flex;
  justify-content: center;
}

.fuel-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .fuel-info {
              display: none;
            } */

.fuel-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.fuel-benefits-div {
  text-align: left;
}
