/* #aboutH {
  background-color: #e3e3e3;
} */

#aboutH .containerAbout {
  position: relative;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 3%;
  height: 100%;
  min-height: 500px;
  border: black medium solid;
  box-shadow: 5px 10px #393f4d;
  background-color: #f6f5f3;
}

#aboutH .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#aboutH .midButton {
  /* transition: 0.5s ease;
  opacity: 0; */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.containerAbout:hover .image {
  opacity: 0.3;
}

.containerAbout:hover .middle {
  opacity: 1;
}

#aboutH .text {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

#aboutH padPar {
  padding-top: 20px;
}

.justify {
  text-align: justify;
}

.paddingPars {
  padding: 10px;
}

.historyWords {
  margin: 0;
}
