#cai-main {
  padding-top: 7rem;
}

.cai-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.cai-jumbo h2 {
  text-align: center;
}

.cai-images-div {
  display: flex;
  justify-content: center;
}

.cai-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .cai-info {
        display: none;
      } */

.cai-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cai-benefits-div {
  text-align: left;
}
