#cooling-main {
  /* padding-top: 7rem; */
}

.cooling-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.cooling-jumbo h2 {
  text-align: center;
}

.cooling-images-div {
  display: flex;
  justify-content: center;
}

.cooling-images {
  border-radius: 50%;
  height: 50%;
  width: 50%;
}

/* .cooling-info {
              display: none;
            } */

.cooling-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.cooling-benefits-div {
  text-align: left;
}
