#exhaust-main {
  /* padding-top: 7rem; */
}

.exhaust-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.exhaust-jumbo h2 {
  text-align: center;
}

.exhaust-images-div {
  display: flex;
  justify-content: center;
}

.exhaust-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .exhaust-info {
              display: none;
            } */

.exhaust-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.exhaust-benefits-div {
  text-align: left;
}
