/* body {
  background-image: url("https://vortechsuperchargers.files.wordpress.com/2011/01/img_0444.jpg");
} */

/* #first {
  color: blue;
  background-color: coral;
}

#top {
  background-color: black;
} */
