.spanHeader {
  color: white;
  font-weight: bold thick;
  font-size: large;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px grey;
  margin-left: -8px;
}
.block {
  display: block;
}

#topFooter {
  color: white;
  font-weight: bold thick;
  font-size: large;
  font-family: "Ubuntu", sans-serif;
  position: relative;
}

#gtrValues {
  padding-top: 375px;
  color: white;
  color: white;
  font-weight: bold thick;
  font-size: large;
  font-family: "Ubuntu", sans-serif;
  text-shadow: 2px 2px grey;
}

/* #leftValue {
  display: flex;
  justify-content: left;
} */

.middleValue {
  display: flex;
  justify-content: center;
}

/* #rightValue {
  display: flex;
  justify-content: right;
} */
