#home-con {
  min-height: 100%; /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */
  /* min-height: 400px; */
  width: 100%;
  color: #1d1e22;
  font-family: "Ubuntu", sans-serif;
}

#home-col {
  align-self: center;
}

#home-row {
  justify-content: center;
}

#home-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
