#suspension-main {
  /* padding-top: 7rem; */
}

.suspension-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.suspension-jumbo h2 {
  text-align: center;
}

.suspension-images-div {
  display: flex;
  justify-content: center;
}

.suspension-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .suspension-info {
              display: none;
            } */

.suspension-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.suspension-benefits-div {
  text-align: left;
}
