#calCon {
  height: 100%;
  background-color: white;
}

/* #cal {
  height: 100%;
  background-color: white;
} */

.event-modal {
  display: flex;
  justify-content: center;
  align-content: center;
}
