#exp-main {
  padding-top: 6rem;
}

#exp-con {
}

.exp-row {
  justify-content: center;
}

.exp-col {
  /* justify-content: center; */
}

.exp-div {
}

.exp-ul {
}

.exp-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}
