#exp-main {
  background-color: #005995;
}

/* .exp-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.exp-jumbo h2 {
  text-align: center;
}

.exp-images-div {
  display: flex;
  justify-content: center;
}

.exp-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
} */

/* .exp-info {
  display: none;
} */

/* .exp-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.exp-benefits-div {
  text-align: left;
} */
