.justify {
  text-align: justify;
}

#histDoc {
  height: 100%;
  border: solid black medium;
}

.padPar {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
}

#title {
  font-family: "Laila", serif;
  text-align: center;
  padding-top: 20px;
  text-shadow: 2px 2px #ba9077;
}

#midPar {
  padding-top: 10px;
}

#botPar {
  padding-top: 10px;
  padding-bottom: 50px;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #ba9077;
}
