#masterHistory {
  width: 90%;
  margin: 1rem auto;
  max-width: 1000px;
}

#classicShelbyCon {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

#classicShelbyCon .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  border: black thin solid;
}

#classicShelbyCon:hover .image {
  opacity: 0.3;
}

.histButton {
  width: 100%;
  flex-basis: 100%;
  background-color: white;
  margin-top: 1.2rem;
}

.padPar {
  padding-top: 20px;
}

.justify {
  text-align: justify;
}

.paddingPars {
  padding: 10px;
}

@media (max-height: 991px) {
  #historyInfo {
    display: block;
  }
}
