#pulleys-main {
  /* padding-top: 7rem; */
  padding: 0;
  margin: 0 auto;
}

.pulleys-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.pulleys-jumbo {
  height: 550px;
  padding-top: 0px;
}

.pulleys-jumbo h2 {
  text-align: center;
}

.pulleys-images-div {
  display: flex;
  justify-content: center;
}

.pulleys-images {
  height: 80%;
  width: 80%;
}

/* .pulleys-info {
              display: none;
            } */

.pulleys-button-div {
  display: flex;
  justify-content: center;
}

.pulleys-benefits-div {
  text-align: left;
}
