#pulleys-main {
  /* padding-top: 7rem; */
}

.pulleys-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.pulleys-jumbo h2 {
  text-align: center;
}

.pulleys-images-div {
  display: flex;
  justify-content: center;
}

.pulleys-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .pulleys-info {
              display: none;
            } */

.pulleys-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.pulleys-benefits-div {
  text-align: left;
}
