#form-main {
  background-image: linear-gradient(#fddb92, #d1fdff);
  padding: 2rem;
  padding-top: 8rem;
}

#contact-row {
  justify-content: center;
}

#contact-jumbo {
  margin: 0 auto;
  margin-bottom: 2rem;
  border: thin black solid;
  padding: 0;
  text-align: center;
}

.contact-no-bull {
  list-style-type: none;
}

#form-div {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 1rem;
  border: black thin solid;
  background-color: white;
  box-shadow: 5px 10px;
}

.form-box {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}

.form-input {
  width: 100%;
  flex-basis: 100%;
  border: black thin solid;
}

.form-input:hover {
  background-color: #6ed3cf;
  box-shadow: 1px 3px;
}

#form-block input,
#form-block label {
  padding: 0.2rem 1rem;
  font-size: 1.2rem;
  color: inherit;
}

#form-submit {
  margin: 0 auto;
  width: 90%;
}

input[type="submit"]:hover {
  background-color: #7dce94;
  box-shadow: 2px 5px;
}

@media all and (min-width: 600px) {
  flex-direction: row;
}
