#brakes-main {
  /* padding-top: 7rem; */
}

.brakes-row {
  justify-content: center;
  flex-flow: row nowrap;
}

.brakes-jumbo h2 {
  text-align: center;
}

.brakes-images-div {
  display: flex;
  justify-content: center;
}

.brakes-images {
  border-radius: 50%;
  height: 359px;
  width: 359;
}

/* .brakes-info {
              display: none;
            } */

.brakes-button-div {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.brakes-benefits-div {
  text-align: left;
}
