/* #homeIcon {
  height: 10px;
  width: 10px;
} */

#homeNavBar {
  color: hsl(0, 0%, 11%);
}

.wordIcons {
  display: none;
}

@media (max-width: 990px) {
  #homeNavBar {
    background-color: #c9af98;
  }
  .icons {
    display: none;
  }
  .wordIcons {
    display: block;
  }
}

/* #cal {
  height: 30px;
  width: 30px;
} */
