.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 3rem;
  width: 3rem;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  background-color: black;
}

.carousel-items {
  text-align: center;
}
